deathstarflow.json
[
    {
        "id": "6f2b0033.10461",
        "type": "tab",
        "label": "Death Star",
        "disabled": false,
        "info": ""
    },
    {
        "id": "89e91c39.1ce9c",
        "type": "ui_gauge",
        "z": "6f2b0033.10461",
        "name": "",
        "group": "7619c264.84edec",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Recharge Status",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "8eb8bf5f.d4c1",
        "type": "ui_chart",
        "z": "6f2b0033.10461",
        "name": "Planets Destroyed",
        "group": "524df897.ac1e88",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 390,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "dbb959b9.f63948",
        "type": "inject",
        "z": "6f2b0033.10461",
        "name": "",
        "topic": "",
        "payload": "[{\"series\":[\"X\"],\"data\":[[4,2,3,7,4,4,1]],\"labels\":[\"Mon\",\"Tue\",\"Wed\",\"Thu\",\"Fri\",\"Sat\",\"Sun\"]}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "8eb8bf5f.d4c1"
            ]
        ]
    },
    {
        "id": "2b1436fd.00e11a",
        "type": "inject",
        "z": "6f2b0033.10461",
        "name": "",
        "topic": "",
        "payload": "78",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "89e91c39.1ce9c"
            ]
        ]
    },
    {
        "id": "d9d89453.112df8",
        "type": "ui_slider",
        "z": "6f2b0033.10461",
        "name": "",
        "label": "Power",
        "tooltip": "",
        "group": "773150a7.53bf8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "f84b0083.4443"
            ]
        ]
    },
    {
        "id": "600d8f26.229c2",
        "type": "ui_switch",
        "z": "6f2b0033.10461",
        "name": "",
        "label": "Engaged",
        "tooltip": "",
        "group": "773150a7.53bf8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 190,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f84b0083.4443",
        "type": "ui_text",
        "z": "6f2b0033.10461",
        "group": "773150a7.53bf8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "<font size =20 color =#4383f9>{{msg.payload}}",
        "format": "",
        "layout": "col-center",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "dae2de85.6d579",
        "type": "ui_text_input",
        "z": "6f2b0033.10461",
        "name": "",
        "label": "Planet:",
        "tooltip": "",
        "group": "51b3a41.c9e665c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 360,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e1a6d786.3c8ae8",
        "type": "ui_button",
        "z": "6f2b0033.10461",
        "name": "",
        "group": "51b3a41.c9e665c",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Arm",
        "tooltip": "",
        "color": "black",
        "bgcolor": "#f3ba3f",
        "icon": "fa-bullseye",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c7592df8.73199",
        "type": "ui_button",
        "z": "6f2b0033.10461",
        "name": "",
        "group": "51b3a41.c9e665c",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Obliterate",
        "tooltip": "",
        "color": "",
        "bgcolor": "#d21d1d",
        "icon": "fa-bomb",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a030210d.ff605",
        "type": "ui_gauge",
        "z": "6f2b0033.10461",
        "name": "Distance to target",
        "group": "3d5a309f.a36ca",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "Million Kilometers",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 720,
        "wires": []
    },
    {
        "id": "4bab505a.39331",
        "type": "inject",
        "z": "6f2b0033.10461",
        "name": "",
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 720,
        "wires": [
            [
                "a030210d.ff605"
            ]
        ]
    },
    {
        "id": "4354ab52.5c0b04",
        "type": "ui_switch",
        "z": "6f2b0033.10461",
        "name": "",
        "label": "Engage Reactor",
        "tooltip": "",
        "group": "7619c264.84edec",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 400,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9d72b32b.7d25e",
        "type": "inject",
        "z": "6f2b0033.10461",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "4354ab52.5c0b04"
            ]
        ]
    },
    {
        "id": "5cdc9106.98f",
        "type": "ui_chart",
        "z": "6f2b0033.10461",
        "name": "",
        "group": "7619c264.84edec",
        "order": 3,
        "width": "6",
        "height": "3",
        "label": "Temperature",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "175",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 390,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7a330177.c0543",
        "type": "inject",
        "z": "6f2b0033.10461",
        "name": "",
        "topic": "",
        "payload": "[{\"series\":[\"X\"],\"data\":[[134]],\"labels\":[\"Celsius\"]}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "5cdc9106.98f"
            ]
        ]
    },
    {
        "id": "25778008.0a8eb",
        "type": "inject",
        "z": "6f2b0033.10461",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "100ee89f.847d97"
            ]
        ]
    },
    {
        "id": "100ee89f.847d97",
        "type": "ui_switch",
        "z": "6f2b0033.10461",
        "name": "",
        "label": "Engage Cooling System",
        "tooltip": "",
        "group": "7619c264.84edec",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 430,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7619c264.84edec",
        "type": "ui_group",
        "z": "",
        "name": "Super Laser",
        "tab": "a8e00f21.99539",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "524df897.ac1e88",
        "type": "ui_group",
        "z": "",
        "name": "Planets Destroyed",
        "tab": "a8e00f21.99539",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "773150a7.53bf8",
        "type": "ui_group",
        "z": "",
        "name": "Tractor Beam",
        "tab": "a8e00f21.99539",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "51b3a41.c9e665c",
        "type": "ui_group",
        "z": "",
        "name": "Targeting",
        "tab": "a8e00f21.99539",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3d5a309f.a36ca",
        "type": "ui_group",
        "z": "",
        "name": "Distance to Target",
        "tab": "a8e00f21.99539",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a8e00f21.99539",
        "type": "ui_tab",
        "z": "",
        "name": "Death Star",
        "icon": "fa-bullseye",
        "disabled": false,
        "hidden": false
    }
]
